IoT_IA/node-red/skinsight_flow.json
[{"id":"a12ffd5e.368a4","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"f7c5a6f7.4e8838","type":"mqtt out","z":"a12ffd5e.368a4","name":"skinsight","topic":"sensorskinsight","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d32c624b.70708","x":780,"y":220,"wires":[]},{"id":"42fb7d19.cda164","type":"serial in","z":"a12ffd5e.368a4","name":"Arduino","serial":"ee458ed5.11cdf","x":130,"y":220,"wires":[["4a3dc1a.04a304"]]},{"id":"9be0dfe3.2d674","type":"change","z":"a12ffd5e.368a4","name":"Graus","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.TempGraus","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":300,"wires":[["9e87270b.19b858","f7c5a6f7.4e8838"]]},{"id":"4a3dc1a.04a304","type":"json","z":"a12ffd5e.368a4","name":"skinsight_json","property":"payload","action":"","pretty":false,"x":300,"y":220,"wires":[["a9eda45c.73d638","9be0dfe3.2d674"]]},{"id":"a9eda45c.73d638","type":"change","z":"a12ffd5e.368a4","name":"UV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.exposicaoUV","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":140,"wires":[["f7c5a6f7.4e8838","23232443.f030bc"]],"outputLabels":["UV: "]},{"id":"23232443.f030bc","type":"debug","z":"a12ffd5e.368a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":140,"wires":[]},{"id":"9e87270b.19b858","type":"debug","z":"a12ffd5e.368a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":300,"wires":[]},{"id":"d32c624b.70708","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ee458ed5.11cdf","type":"serial-port","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]